.work {
  margin: 0;
  position: relative;
  background-color: #000;
  color: #fff;
  text-align: center;

  .toWebApp {
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }
}
