.about {
  height: 100dvh;
  position: relative;
  background-color: #000;
  align-content: center;

  .textArea {
    text-align: center;
    z-index: 11;
    border-radius: 8px;
    padding: 20px 5px;
    color: #fff;

    .textBtwn {
      margin-top: 50px;
      padding: 0;
    }
  }
}
