.hero {
  padding: 100px 0px;
  position: relative;
  background-color: #000;
  text-align: center;
  height: 100vh;

  .textArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    padding: 20px 0px;
    max-width: 100dvw;
    text-align: center;
    color: #fff;
    font-family: josefinSans !important;

    h1 {
      width: max-content;
    }

    h6 {
      margin: auto;
    }

    .socials {
      margin: 0 !important;
      padding: 20px 0px;
      justify-content: center;
      align-items: center;
      gap: 5px;

      .socialItem {
        padding: 5px;
        width: fit-content;
        cursor: pointer;
        border-radius: 20px;

        a {
          display: flex;
          text-align: center;
          align-content: baseline;
          text-decoration: none;
          padding: 5px;
          border-radius: 20px;
          font-weight: bolder;
        }
      }

      .whatsapp {
        background-color: #fff;
        transition: all 0.3s ease-in-out;

        a {
          color: #000;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          background-color: #33ff00;

          a {
            color: #fff;
          }
        }
      }

      .linkedin {
        background-color: #fff;
        transition: all 0.3s ease-in-out;

        a {
          color: #000;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          background-color: #397eff;

          a {
            color: #fff;
          }
        }
      }

      .github {
        background-color: #fff;
        transition: all 0.3s ease-in-out;

        a {
          color: #000;
        }

        &:hover {
          background-color: #000;

          a {
            color: #fff;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      .gmail {
        background-color: #fff;
        transition: all 0.3s ease-in-out;

        a {
          color: #000;
        }

        &:hover {
          background-color: #fd0000;

          a {
            color: #fff;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
