:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "regular";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  max-width: 100dvw;
}

body {
  position: relative;
  /* overflow-x: hidden; */
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 60px 0px;
  overflow-x: hidden;
}

.glassmorphism {
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.projectCard {
  margin: 0 !important;

  .content {
    span {
      padding: 5px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      color: #fff;
    }

    .toWebApp {
      padding: 5px 10px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border-radius: 8px;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1px;
      }
    }
  }
}

span {
  background-color: #fff;
  color: #000;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 0.625rem;

  svg {
    margin: 0px 5px;
  }
}

.react {
  background-color: #3978ff;
  color: #fff;
}
.JavaScript {
  background-color: #fbff00;
  color: #000;
}
.TypeScript {
  background-color: #3978ff;
  color: #000;
}
.html {
  background-color: #ffaa3c;
  color: #fff;
}
.css {
  background-color: #de39ff;
  color: #fff;
}
.bootstrap {
  background-color: #9f39ff;
  color: #fff;
}
.scss {
  background-color: #ff00bf;
  color: #fff;
}
.git {
  background-color: #fd0000;
  color: #fff;
}
.firebase {
  background-image: linear-gradient(to right, #fd0000, #ffaa3c);
  color: #000;
}
.vercel {
  background-color: #fff;
  color: #000;
}
.netlify {
  background-color: #036800;
  color: #fff;
}

.upBtn {
  position: fixed;
  bottom: 3%;
  right: 1%;
  border: none;
  border-radius: 20px;
  padding: 10px 5px;
  text-align: center;
  color: #fff;
  font-weight: bolder;
  z-index: 111;
  background: linear-gradient(
    135deg,
    rgba(99, 0, 255, 0.15),
    rgba(0, 204, 255, 0.15)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(0, 204, 255, 0.2), 0 0 40px rgba(99, 0, 255, 0.15);

  svg {
    animation: upbtn 1s infinite;
  }
}

@media screen and (max-width: 992px) {
  :root {
    font-size: 14px;
  }
}

@keyframes upbtn {
  0% {
    transform: translateY(0);
    filter: drop-shadow(0 0 0px #fff);
  }
  50% {
    transform: translateY(-5px);
    filter: drop-shadow(0 0 10px #fff);
  }
  100% {
    transform: translateY(0);
    filter: drop-shadow(0 0 0px #fff);
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
