.Home {
  position: relative;
  background-color: #000;
  text-align: center;
  height: 100vh;

  .textArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    padding: 20px 0px;
    max-width: 90vw;
    text-align: center;
    color: #fff;

    .socials {
      margin: 0 !important;
      padding: 20px 0px;
      justify-content: center;
      align-items: center;
      gap: 5px;

      .socialItem {
        padding: 5px;
        width: fit-content;
        cursor: pointer;
        border-radius: 20px;

        a {
          display: flex;
          text-align: center;
          align-content: baseline;
          text-decoration: none;
          padding: 5px;
          border-radius: 20px;
          font-weight: bolder;
        }
      }

      .whatsapp {
        background-color: #fff;
        transition: all 0.3s ease-in-out;

        a {
          color: #000;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          background-color: #33ff00;
          box-shadow: 0 0 10px #33ff00;
          margin: 0px 5px;

          a {
            color: #fff;
          }
        }
      }

      .linkedin {
        background-color: #fff;
        transition: all 0.3s ease-in-out;

        a {
          color: #000;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          background-color: #397eff;
          box-shadow: 0 0 10px #397eff;
          margin: 0px 5px;

          a {
            color: #fff;
          }
        }
      }

      .github {
        background-color: #fff;
        transition: all 0.3s ease-in-out;

        a {
          color: #000;
        }

        &:hover {
          background-color: #000;
          box-shadow: 0 0 10px #fff;
          margin: 0px 5px;

          a {
            color: #fff;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      .instagram {
        background-image: linear-gradient(to right, #fff, #fff);
        transition: all 0.3s ease-in-out;

        a {
          color: #000;
        }

        &:hover {
          background-image: linear-gradient(to right, #ff0000, #c300ff);
          box-shadow: 0 0 10px #c300ff;
          margin: 0px 5px;

          a {
            color: #fff;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      .discord {
        background-color: #fff;
        transition: all 0.3s ease-in-out;

        a {
          color: #000;
        }

        &:hover {
          background-color: #b900d1;
          box-shadow: 0 0 10px #b900d1;
          margin: 0px 5px;

          a {
            color: #fff;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      .gmail {
        background-color: #fff;
        transition: all 0.3s ease-in-out;

        a {
          color: #000;
        }

        &:hover {
          background-color: #fd0000;
          box-shadow: 0 0 10px #fd0000;
          margin: 0px 5px;

          a {
            color: #fff;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    .toAboutBtn {
      padding: 10px 20px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 8px;
      cursor: pointer;
      text-decoration: none;
      font-weight: bolder;
      color: #fff;
      text-transform: uppercase !important;
      filter: drop-shadow(0 0 10px #fff);
    }

    .techStack {
      padding: 10px 0px;
      margin: 0px !important;
      align-content: center;

      span {
        display: inline-flex;
        text-align: center;
        align-content: center;
        margin: 0px !important;
        padding: 0px 5px !important;
      }
      .react {
        color: #3978ff !important;
      }
      .next {
        color: #fff !important;
      }
      .JavaScript {
        color: #fffb00 !important;
      }
      .html {
        color: #ff9d1e !important;
      }
      .css {
        color: #0084ff !important;
      }
      .bootstrap {
        color: #a200ff !important;
      }
      .scss {
        color: #cb47ff !important;
      }
      .git {
        color: #fd0000 !important;
      }
      .gitHub {
        color: #fff !important;
      }
      .clerk {
        color: #fff !important;
      }
      .firebase {
        color: #ecad00 !important;
      }
      .cloudflare {
        color: #ff7b00 !important;
      }
      .vercel {
        color: #fff !important;
      }
      .netlify {
        color: #168600 !important;
      }
    }
  }
}
