.work {
  padding: 100px 0px;
  margin: 0;
  position: relative;
  background-color: #000;
  color: #fff;
  text-align: center;

  .projectCard {
    margin: 0px 10px !important;

    .content {
      span {
        display: inline-flex;
        padding: 0px 5px;
      }
      .toWebApp {
        padding: 5px 10px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 8px;

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          letter-spacing: 1px;
        }
      }
    }
  }
}
