.about {
  position: relative;
  background-color: #000;
  align-content: center;
  padding: 100px 0px;

  .textArea {
    text-align: center;
    z-index: 11;
    border-radius: 8px;
    padding: 20px 5px;
    color: #fff;

    .techStack {
      padding: 10px 0px;
      margin: 0px !important;
      align-content: center;

      span {
        display: inline-flex;
        text-align: center;
        align-content: center;
        margin: 0px !important;
        padding: 0px 5px !important;
      }
      .react {
        color: #3978ff !important;
      }
      .next {
        color: #fff !important;
      }
      .JavaScript {
        color: #fffb00 !important;
      }
      .html {
        color: #ff9d1e !important;
      }
      .css {
        color: #0084ff !important;
      }
      .bootstrap {
        color: #a200ff !important;
      }
      .scss {
        color: #cb47ff !important;
      }
      .git {
        color: #fd0000 !important;
      }
      .gitHub {
        color: #fff !important;
      }
      .clerk {
        color: #fff !important;
      }
      .firebase {
        color: #ecad00 !important;
      }
      .SupaBase {
        color: #72ec00 !important;
      }
      .cloudflare {
        color: #ff7b00 !important;
      }
      .vercel {
        color: #fff !important;
      }
      .netlify {
        color: #168600 !important;
      }
    }
  }
}
